.question{
    color:#00b5e2;
    font-weight: 400;
}

.header {
    color: #31316f;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
}
.hero__features {
    background-color: rgba(227, 227, 226, 255);
}
*{
    font-family: 'IBM Plex Sans', sans-serif;
}
.text-blue{
    color:#00b5e2;
}