<div class="container d-flex flex-column">
    <div class="row mx-auto my-5 text-center">
        <h1 class="header">Найчастіші запитання</h1>
    </div>
    <div class="row ms-md-5 ps-md-5">
        <h1 class="question">Чи безпечно використовувати OлаКеа?</h1>
        <p class="my-3">ОлаКеа містить міжнародні визнані косметичні інгредієнти і тому класифікується як косметичний
            продукт. Ключовий інгредієнт, інгібітори протеазних ферментів, отримані з натурального продукту,
            дерматологічно протестованого та схваленого британськими педіатрами.</p>
        <h1 class="question">Чи є ОлаКеа гіпоалергенним?</h1>
        <p class="my-3">У дослідженні, проведеному у Великій Британії, оцінювали подразнення та чутливість крему OлаКеа
            на шкірі. Результати цього дослідження показали, що OлаКеа є: гіпоалергенним, безпечним та м'яким для шкіри,
            підходить для чутливої шкіри та схвалений педіатрами.</p>
        <h1 class="question">Чи можу я продовжувати використовувати підгузки у поєднанні з ОлаКеа?</h1>
        <p class="my-3">Ви можете продовжувати використовувати OлаКеа у поєднанні з підгузками.
            OлаКеа це легкий крем, який дозволяє шкірі дихати і не прилипає до підгузника на відміну від інших засобів.
        </p>
        <h1 class="question">Як швидко діє OлаКеа?</h1>
        <p class="my-3">Ви можете побачити позитивний ефект протягом одного тижня. Дослідження показали, що у тяжких
            випадках безперервне застосування протягом трьох тижнів призводить до значного покращення.</p>
        <h1 class="question">Чи OлаКеа вбиратиметься в шкіру дітей?</h1>
        <p class="my-3">OлаКеа - косметичний засіб, що не містить генетично модифікованих продуктів, гіпоалергенний і не
            токсичний. OлаКеа слід застосовувати місцево, при цьому системні концентрації будуть мінімальні. Ця оцінка
            безпеки заснована на 100% абсорбції через шкіру всіх інгредієнтів крему. Цей звіт про оцінку безпеки
            складено експертами з косметичної безпеки у Великій Британії. SED (дозування системного впливу) було
            розраховано виходячи з припущення про 100% абсорбції через шкіру, і з звіту випливає, що продукт безпечний
            для використання.</p>
        <h1 class="question">Чому тюбик OлаКеа має такий розмір?</h1>
        <p class="my-3">OлаКеа в тубі 40 грам забезпечує достатнє, багаторазове, безперервне нанесення протягом
            декількох тижнів або коли це необхідно. Інгібітори протеаз також є профілактичними, тому застосування (після
            кожної зміни підгузника) OлаКеа також запобігає попрілості.</p>
        <h1 class="question">Який запах у крему OлаКеа?</h1>
        <p class="my-3">OлаКеа не має запаху.</p>
        <h1 class="question">Чи може використовуватися OлаКеа при розчісуваннях, порізах, саднах, синцях?</h1>
        <p class="my-3">OлаКеа призначений для догляду за шкірою дитини при пелюшковому дерматиті.</p>
    </div>
</div>