<footer>
    <div class="container-fluid px-0 background-blue">
      <div class="row m-0">
        <div class="col-6 col-lg-2 offset-lg-1 mb-3 mt-3">
          <ul class="list-unstyled">
            <li class="mb-2"><a class="nav-link text-white" href="what-is-diaper-rash">Що таке прілості?</a></li>
            <li class="mb-2"><a class="nav-link text-white" href="why-use-ola-care">Чому Ola-Care?</a></li>
            <li class="mb-2"><a class="nav-link text-white" href="baby-care">Піклування про малюка</a></li>
            <li class="mb-2"><a class="nav-link text-white" href="faq">Питання</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>