<footer>
  <div class="container-fluid px-0 background-blue">
    <div class="row m-0">
      <div class="col-6 col-lg-3 offset-lg-1 pb-3 pt-3">
        <ul class="list-unstyled">
          <li class="mb-2"><a class="nav-link text-purple" href="what-is-diaper-rash">Що таке пелюшковий дерматит?</a>
          </li>
          <li class="mb-2"><a class="nav-link text-purple" href="why-use-ola-care">Чому ОлаКеа?</a></li>
          <li class="mb-2"><a class="nav-link text-purple" href="baby-care">Піклування про малюка</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 offset-lg-1 pb-3 pt-3">
        <ul class="list-unstyled">
          <li class="mb-2"><a class="nav-link text-purple" href="faq">Питання</a></li>
          <li class="mb-2"><a class="nav-link text-purple" href="where-to-buy">Де придбати?</a></li>
          <li class="mb-2"><a class="nav-link text-purple" href="contact">Контакти</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 offset-lg-1 mb-3 mt-md-3">
          <a href="https://eurodrug.nl/">
            <img src="assets/media/eurodrug_logo.png" class="d-block pt-md-5 eurodrug ml-auto" alt=" ">
          </a>
        </div>
      </div>
  </div>
</footer>