<div class="container-fluid">
    <div class="container">
        <div class="row m-5">
            <div class="col-12">
                <h1 class="main__title text-center header">
                    Що таке пелюшковий дерматит?
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mt-2">
                <div class="ms-md-auto col-lg-10">
                    <h2 class="main_desribe text-start text-blue">Фекальні протеази: причина виникнення пелюшкового висипу</h2>
                </div>
            </div>
            <div class="col-md-7">
                <p>Протеази – група ферментів, які присутні у шлунково-кишковому тракті (ШКТ) у людини та допомагають
                    нам
                    перетравлювати їжу білкової природи. У нормі протеази повністю нейтралізуються у процесі травлення.
                    Однак у
                    маленьких дітей та немовлят ШКТ ще до кінця не сформовано. Це означає, що протеази не повністю
                    нейтралізуються під час транзиту їжі та залишаються активними після спорожнення кишечника. Активні
                    протеази
                    виявляють протеолітичну активність (розщеплення білків), що призводить до пошкодження ніжної шкіри
                    дитини в
                    періанальній ділянці.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="assets/media/whatisdiaperrash1-1024x536.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="main_desribe header">Протеази провокують появу на шкірі:</h2>
            <ul class="main__list__rash ps-0">
                <li class="main__rash ps-5"> Запалення</li>
                <li class="main__rash ps-5"> Подразнення</li>
                <li class="main__rash ps-5"> Кожного висипу</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto row">
            <hr>
            <div class="col-md-6">
                <h2 class="main_desribe mb-3 header">Протеолітична активність (ПА) ферментів:</h2>
        <p>ПА фекальних ферментів є дуже високою у новонароджених дітей та немовлят, особливо на першому році життя.</p>
        <img src="assets/media/whatisdiaperrash2-1024x120.png" width="100%" alt="reference">
            </div>
            <div class="col-md-6">
                <img src="assets/media/whatisdiaperrash3 (1).png" alt="rate" width="100%">
            </div>
        </div>
    </div>
    <div class="row hero__features">
        <div class="col-md-8 mx-auto text-center mt-md-3">
            <h1 class="header">Шкіра стає більш чутливою до активних протеаз при:</h1>
            <p class="mx-auto skin-care mt-3"> Тривалому зволоженні шкіри у періанальній області фекаліями та/або сечею ·
                <br>
                Перехіду від грудного молока на молочну суміш · Діареї · Прорізуванні зубів ·
                <br>
                Введенні твердої їжі · Прийомі антибіотиків 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center my-5 text-blue">
            <h1>ОлаКеа захищає Вашу дитину</h1>
        </div>
    </div> 
</div>