.list-item {
    color:#00b5e2;
    font-weight: 600;
    font-size: 32px;
}

.main__rash {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #000000 !important;
    font-weight: 400;
    font-size: 24px;
}

.hero__features {
    background-color: rgba(227, 227, 226, 255);
}

.text-blue{
    color:#00b5e2;
}

.header {
    color: #31316f;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
}
*{
    font-family: 'IBM Plex Sans', sans-serif;
}
li {
	margin: 0;
	padding: 10px 0 10px 0;
	list-style: none;
	background-image: url('/assets/media/Check-Mark-Tick-Transparent-Clip-Art-PNG.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}