<div class="container-fluid">
    <div class="container">
        <div class="row text-center py-5">
            <h1 class="header display-2">ОлаКеа</h1>
        </div>
        <div class="row">
            <div class="col-md-6 pt-5">
                <h2>Перший у світі продукт, який містить інгібітори ферменту протеази для лікування та профілактики
                    попрілостей</h2>
            </div>
            <div class="col-md-6 pb-5">
                <img src="assets/media/OlaCare-tube.48483205.png" class="img-fluid" alt=" ">
            </div>
        </div>
    </div>
    <div class="row hero__describe">
        <div class="col-md-6 mx-auto">
            <p class="hero__features py-1"> <span class="hero__feature__accent">Відновлює: </span> впливає на причину
                пелюшкового дерматиту, завдяки нейтралізації активності ферментів</p>
            <p class="hero__features py-1"> <span class="hero__feature__accent">Захищає: </span> ніжну шкіру Вашої
                дитини
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <video class="mx-auto" controls [disablePictureInPicture]="true">
                <source src="assets/media/Olacare 1_ukr with logo.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>