<div class="container-fluid">
    <div class="container">
        <div class="row text-center py-5">
            <h1 class="header">ОлаКеа</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Перший у світі продукт, який містить інгібітори ферменту протеази для лікування та профілактики
                    попрілостей</h1>
            </div>
            <div class="col-md-6 pb-5">
                <!--<img src="assets/media//homepage2.3-2-otil4sjttv1plhrfa65h58x2rvrdzhv20vvcehogq2.png" class="img-fluid"
                    alt=" ">-->
                    <!--<img src="assets/media/6cc5c5ae308f49e0cc7f5dd00c7867d6a4Tuojfka5jpQcoD-3.png" class="img-fluid"
                    alt=" ">-->
                    <img src="assets/media/OlaCare-tube.48483205.png" class="img-fluid"
                    alt=" ">
            </div>
        </div>
    </div>
    <div class="row hero__describe">
        <div class="col-md-6 mx-auto">
            <p class="hero__features py-1"> <span class="hero__feature__accent">Відновлює: </span> впливає на причину
                пелюшкового дерматиту, завдяки нейтралізації активності ферментів</p>
            <p class="hero__features py-1"> <span class="hero__feature__accent">Захищає: </span> ніжну шкіру Вашої дитини
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row ratio ratio-16x9 my-5">
            <iframe src="assets/media/Olacare 1_ukr with logo.mp4" title="Vimeo video" allowfullscreen></iframe>
        </div>
    </div>
</div>