<div class="container-fluid">
    <div class="row my-5 text-center header">
        <h1>Догляд за малюком</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--<div class="container">
                <div class="row ratio ratio-4x3 my-5">
                    <iframe src="assets/media/Olacare 2_ukr with logo.mp4" title="Vimeo video" muted
                        allowfullscreen></iframe>
                </div>
            </div>-->
        </div>
        <div class="col-md-3  my-5">
            <h2 class="text-blue">Як доглядати за шкірою малюка при пелюшковому дерматиті</h2>
            <p class="pt-3">
                Кращий захист від попрілостей - сухість шкіри в області підгузків, тому змінюйте підгузок вашої дитини
                часто і якнайшвидше, після того, як вона промокне або забрудниться.
                <br>
                <br>
                Ретельно очищайте ділянку геніталій вашої дитини при кожній зміні підгузків. Зверніть особливу увагу на
                складки.
                <br>
                <br>
                Ніколи не потрібно терти ніжну шкіру.
                М'яко очищайте шкіру і витирайте насухо після зміни підгузки.
                <br>
                <br>
                Переконайтеся, що підгузник не надто тугий, щоб забезпечити циркуляцію повітря.
                <br>
                <br>
                Одягайте свою дитину у вільний одяг.
            </p>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6 row justify-content-end">
            <div class="col-md-6">
                <h2 class="text-blue">Наносьте ОлаКеа при кожній зміні підгузка</h2>
                <br>
                <p><span class="fw-bold">Попрілость шкіри спричинена фекальними протеазами дитини.</span> ОлаКеа містить
                    інгібітори протеазних ферментів, які усувають причину висипань. Застосування ОлаКеа під час епізодів
                    попрілостей відновить та вилікує шкіру.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/media/6cc5c5ae308f49e0cc7f5dd00c7867d6a4Tuojfka5jpQcoD-3.png" alt="" class="img-fluid">
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col text-center my-5 text-blue">
            <h1>ОлаКеа захищає Вашу дитину</h1>
        </div>
    </div>
</div>