.background-blue{
    background-color:#87cefa;
}
.background-blue1{
    background-color:#8cd1ed;
}
.text-purple{
    color: #31316f;
}
.text-blue{
    color:#00b5e2;
}
.text-red{
    color:darkred;
}
.active{
    font-weight: bold;
}
*{
    font-family: 'IBM Plex Sans', sans-serif;
}