<nav class="navbar navbar-expand-md background-blue">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="assets/media/logo megacom red (1).png" class="img-fluid" alt=" ">
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-white1"  
          routerLink="home"
          routerLinkActive="active">Головна</a>
        </li>
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-white1" 
          routerLink="what-is-diaper-rash"
          routerLinkActive="active">Що таке пелюшковий дерматит?</a>
        </li>
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-white1"
          routerLink="why-use-ola-care"
          routerLinkActive="active">Чому ОлаКеа?</a>
        </li>
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-red"
          routerLink="baby-care"
          routerLinkActive="active">Піклування про малюка</a>
        </li>
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-white"
          routerLink="faq"
          routerLinkActive="active">Питання</a>
        </li>
        <li class="nav-item mx-lg-3">
          <a class="nav-link text-white"
          routerLink="contact"
          routerLinkActive="active">Контакти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!--<footer class="footer1 mt-auto py-3 background-blue">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-2 offset-lg-1 mb-3 mt-3">
        <ul class="list-unstyled">
          <li class="mb-2"><a class="nav-link text-white" href="what-is-diaper-rash">Що таке прілості?</a></li>
          <li class="mb-2"><a class="nav-link text-white" href="why-use-ola-care">Чому Ola-Care?</a></li>
          <li class="mb-2"><a class="nav-link text-white" href="baby-care">Піклування про малюка</a></li>
          <li class="mb-2"><a class="nav-link text-white" href="faq">Питання</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>-->
<app-footer class="mt-auto"></app-footer>