<div class="container-fluid">
    <div class="row backgroud-grey">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-5 pt-5"><img src="assets/media/OlaCare-tube.48483205.png" class="img-fluid" alt=" "></div>
                <div class="col-md-7">
                    <h1 class="mb-5 mt-2 text-center text-md-start header">Переваги ОлаКеа:</h1>
                    <ul>
                        <li class="ps-5"><span>Впливає на причину пелюшкового дерматиту</span>
                            пригнічує
                            активність фекальних протеаз</li>
                        <li class="ps-5"><span>Захищає чутливу шкіру</span> дитини</li>
                        <li class="ps-5"><span>Доведена клінічна ефективність </span>при тяжкому
                            протіканні
                            пелюшкового дерматиту</li>
                        <li class="ps-5"><span>Легко наноситься та </span>змивається</li>
                        <li class="ps-5">Інгібітори протеаз <span> складаються з натуральних
                                компонентів</span> без барвників. Крем є гіпоалергенним</li>
                        <li class="ps-5">Схвалений <span>Британським Дослідницьким Інститутом</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center my-5 text-blue">
            <h1>ОлаКеа захищає Вашу дитину</h1>
        </div>
    </div> 
</div>